mixin sAchievements-card(num, year, title, text)
	+e.card
		//- +pic(`sAchievements-img-${num}.png`, 'bg', 0)
		+e.award(href=`img/@2x/sAchievements-img-big-${num}.png`, data-fancybox=`award-${num}`)
			+pic(`sAchievements-img-${num}.png`, ``, 0)
			+icon('search')
		span!= year
		h5!= title
		p!= text

mixin sAchievements(data)
	// start sAchievements
	+b.SECTION.sAchievements.section#sAchievements&attributes(attributes)
		.container
			.row
				.col-md-6.col-lg-4
					+sAchievements-card(1, '2021', 'ООО &laquo;Институт &laquo;Мосинжпроект&raquo; признан &laquo;BIM-компанией года&raquo;', 'За&nbsp;достижение значительных результатов при проектировании объектов на&nbsp;основе технологии информационного моделирования по&nbsp;версии крупнейшей компании-разработчика программного обеспечения Autodesk.')
				.col-md-6.col-lg-4
					+sAchievements-card(2, '2019', '&laquo;Мосинжпроект&raquo; победил в&nbsp;конкурсе &laquo;Лучший реализованный проект в&nbsp;области строительства&raquo;', 'Объект: Новый Карамышевский мост в&nbsp;составе Северо-Западной хорды, в&nbsp;номинации &laquo;Лучший реализованный проект строительства объектов улично-дорожной сети&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(3, '2016', '&laquo;Мосинжпроект&raquo; занял третье место в&nbsp;конкурсе НОПРИЗ на&nbsp;лучший проект', 'Объект: Транспортная развязка на&nbsp;пересечении МКАД с&nbsp;Каширским шоссе, в&nbsp;номинации &laquo;Лучший проект инженерной и&nbsp;транспортной инфраструктуры&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(4, '2016', '&laquo;Мосинжпроект&raquo; победител в&nbsp;номинации &laquo;Лучший реализованный проект в&nbsp;области строительства&raquo; по&nbsp;решению городской конкурсной комиссии и&nbsp;по&nbsp;итогам открытого общегородского голосования', 'Объект: Транспортная развязка на&nbsp;пересечении МКАД с&nbsp;Каширским шоссе, в&nbsp;номинации &laquo;Лучший реализованный проект строительства объектов улично-дорожной сети&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(5, '2013', '&laquo;Мосинжпроект&raquo; получил награду конкурса Правительства Москвы &laquo;Лучший проект 2013 года в&nbsp;области инвестиций и&nbsp;строительства&raquo;', 'За&nbsp;значительный вклад в&nbsp;развитие транспортной инфраструктуры города.')
				.col-md-6.col-lg-4
					+sAchievements-card(6, '2010 ', '&laquo;Мосинжпроект&raquo; получил диплом победителя конкурса тоннельной ассоциации России &laquo;На&nbsp;лучшее применение прогрессивных технологий при освоении подземного пространств&raquo;', 'Номинация &laquo;Технологии строительства тоннелей и&nbsp;подземных выработок закрытым способом&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(7, '2010', '&laquo;Мосинжпроект&raquo; принял участие в&nbsp;международной выставке &laquo;Turkmen construction-2010&raquo;', 'В&nbsp;выставке приняли участие более семидесяти ведущих компаний из&nbsp;15&nbsp;стран мира.')
				.col-md-6.col-lg-4
					+sAchievements-card(8, '2009', '&laquo;Мосинжпроект&raquo; был награжден дипломом победителя конкурса на&nbsp;лучшее применение передовых технологий при строительстве подземных сооружений&quot;', '&laquo;Разработка и&nbsp;создание технологии строительства канализационных тоннелей без возведений вторичной обделки (&bdquo;рубашки&ldquo;) с&nbsp;применением высокопроизводительных тоннелепроходческих комплексов и&nbsp;высокоточных железобетонных блоков с&nbsp;полимерной футеровкой&raquo;.')
				.col-md-6.col-lg-4
					+sAchievements-card(9, '2009', 'Институт &laquo;Мосинжпроект&raquo; стал лауреатом конкурса &laquo;Лучший реализованный проект 2009 года в&nbsp;области инвестиций и&nbsp;строительства&raquo;', 'Проект &laquo;Реконструкция путепровода на&nbsp;пересечении Варшавского шоссе с&nbsp;Курским направлением МЖД&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(10, '2009', 'Институт &laquo;Мосинжпроект&raquo; награжден дипломом конкурса &laquo;Лучший реализованный проект 2009 года в&nbsp;области инвестиций и&nbsp;строительства&raquo;', 'Награда за&nbsp;лучшие инженерные и&nbsp;конструктивные решения. Проект &laquo;Кабельный коллектор от&nbsp;подстанции &bdquo;Угреша&ldquo;, Москва, ЮВАО, район Южнопортовый, ул. Угрешская, 3-й Угрешский проезд&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(11, '2009', 'Институт &laquo;Мосинжпроект&raquo; победил в&nbsp;конкурсе &laquo;Лучший реализованный проект 2008 года в&nbsp;области инвестиций и&nbsp;строительства&raquo;', 'Проект &laquo;Реконструкция Боровского шоссе на&nbsp;участке от&nbsp;поселка Внуково (Изварино) до&nbsp;Киевского шоссе в&nbsp;районе реки Незнайки, Боровское шоссе, район &bdquo;Внуково&ldquo;, ЗАО г. Москвы&raquo; в&nbsp;номинации &laquo;Дороги, эстакады, подземные и&nbsp;надземные переходы, благоустройство территорий, в&nbsp;т.ч. площадей, существующих кварталов, отдельных участков застроенных территорий&raquo;')
				.col-md-6.col-lg-4
					+sAchievements-card(12, '2008 ', '&laquo;Мосинжпроект&raquo; стал лауреатом национального проекта &laquo;Доступное и&nbsp;комфортное жильё&nbsp;&mdash; гражданам России&raquo;', 'Номинация &laquo;Подземное и&nbsp;специальное транспортное строительство&raquo;')
	// end sAchievements