mixin slider()
	mixin slide(i)
		+e.slide.swiper-slide
			+e.item
				+pic(`content-img-${i}.jpg`, `bg`, 0)
	+e.sliderContainer
		+e.slider--js.swiper
			.swiper-wrapper
				+slide(2)
				+slide(2)
				+slide(2)
		+arrow

mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		+b.sContent-head
			.container.container--sm

				.row
					.col
						h1 Институт «Мосинжпроект» участвует в создании знакового проекта Урала — «Притяжение»
					.col-auto
						+news__date()
		.container.container--sm
			p: strong «Притяжение» — это первый проект Института «Мосинжпроект» за пределами Москвы в качестве генерального проектировщика.
			p «У проекта «Притяжение» говорящее название. В Магнитогорске появится центр общественной жизни, который будет популярным не только у местных жителей, но и у всего Урала. Мы горды, что заказчик выбрал именно нашу компанию
				br
				| в качестве генерального проектировщика столь крупного и важного объекта», – отметил генеральный директор инжинирингового холдинга АО «Мосинжпроект» Юрий Кравцов в рамках Международного форума «100+ TechnoBuild 2021», проходящего в Екатеринбурге.
			h6: strong.ttu Уникальный проект
			p Это уникальный проект, один из самых грандиозных не только на Урале, но и во всей России. На площади в 220 га расположится мультифункциональное парковое пространство. Здесь появятся музейно — образовательные и общественно — деловые площадки, спортивный кластер с ледовой и фристайл аренами, водные объекты площадью 10 га, горнолыжный склон, пляжная зона, гостиничный комплекс, кафе и рестораны.

			ul
				li На площади в 220 га расположится мультифункциональное парковое пространство
				li Появятся
					ul 
						li Образовательные и общественно
						li Деловые площадки
				li Спортивный кластер с ледовой и фристайл аренами, водные объекты площадью 10 га, горнолыжный склон

			+pic('content-img-1.jpg')
			span «Проектный институт «Мосинжпроект»
			blockquote 
				p: strong.ttu &laquo;Притяжение&raquo;&nbsp;&mdash; это первый проект Института &laquo;Мосинжпроект&raquo; за&nbsp;пределами Москвы в&nbsp;качестве генерального проектировщика.
			p: strong.ttu Специалисты Института “Мосинжпроект”
			+pic('content-img-2.jpg')
			span Проект «Притяжение»
			p Специалисты Института “Мосинжпроект” уже подготовили документацию по объектам первой очереди #[a(href="#") “Притяжения”] . Куда вошли информационный центр, фудмолл, центральная входная группа пешеходного бульвара с фонтаном
				br
				| и световой инсталляцией, павильон проката и около 20 га парковой территории.
			ol
				li Подготовили документацию по объектам первой очереди
				li Куда вошли
					ol 
						li Информационный центр
						li Центральная входная группа пешеходного бульвара с фонтаном и световой инсталляцией
				li Павильон проката и около 20 га парковой территории
			h3: strong В разработке проектной документации использовались
			p: strong «Проектный институт «Мосинжпроект»
			p В разработке проектной документации широко использовались инновационные технологии информационного моделирования (BIM), что позволило существенно ускорить процесс проектирования.

			p «Технологии информационного моделирования или BIM-технологии позволяют создать цифровой образ объекта с детализацией всех параметров, что дает возможность оптимизировать все процессы. Работа над «Притяжением» еще раз наглядно продемонстрировала широкие возможности цифровизации при проектировании таких сложных объектов», — отметил генеральный директор ООО «Институт «Мосинжпроект» Рустам Черкесов.

			p Достижения компании в освоении новых цифровых технологий были также отмечены и профессиональным сообществом.
				br
				| «Проектный институт «Мосинжпроект» был признан «BIM-лидером» России по версии крупнейшей компании-разработчика программного обеспечения Autodesk. Мы не останавливаемся на достигнутом и внедряем цифровое моделирование в новые проекты, особенно такие масштабные, как «Притяжение», – рассказал Рустам Черкесов.
			+b.mediaContent
				+slider()
				+e.caption Проект «Притяжение»
					//- .swiper-pagination
			.video-wrrpaer 
				iframe(src='https://www.youtube.com/embed/L_LUpnjgPso' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			+share()
	// end sContent
mixin sContent03()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		+b.sContent-head
			.container
				h1 Многоуровневые транспортные развязки на пересечении автомобильной дороги «Солнцево-Бутово-Видное» с Боровским шоссе и Киевским шоссе с необходимой для их функционирования улично-дорожной сетью

				.row
					mixin item(t='Местоположение',p='г. Москва, ЗАО, ТиНАО')
						+e.col.col-md.col-sm-6
							+e.item.text-primary.border-left
								.h5.mb-2= t
								.small!= p
					+item()
					+item('Заказчик','ГКУ "УДМС"')
					+item('Период работ',`Проектирование: 2019-2020 <br> г. Реализация: 2019-2020 г.`)
					+item('Услуга','Проектирование, согласование.')
		.container.container--sm
			+b.mediaContent
				+slider()
			
			p Магистраль Солнцево-Бутово-Видное является поперечным направлением, которое обеспечит с одной стороны, перераспределение транспортных потоков между основными радиальными направлениями на подходах к МКАД, с другой – транспортные связи непосредственно внутри Западного и Новомосковского административного округа.

			p Магистраль проходит от Боровского до Киевского шоссе, далее —  через поселения Картмазово и Прокшино до Калужского шоссе, затем до Бутово, а через него — до Варшавского шоссе и города Видное. После введения ее в эксплуатацию ожидается значительное улучшение обстановки в юго-западном секторе МКАД, а также на прилегающих к кольцевой дороге магистралях. Новая трасса сооружается участками, полностью открыть ее планируется в 2024 году.

			p Проектируемый участок улично-дорожной сети располагается в Западном (район Ново-Переделкино) и Новомосковском (поселение Московский) административных округах города Москвы.

			p Между проезжими частями основного хода дороги Солнцево-Бутово-Видное между Боровским и Киевским шоссе предусматривается техническая зона для перспективного размещения трамвайных путей. Также будет возведена эстакада, пересекающая Боровское шоссе, и выполнена отделка существующего тоннеля. Вдоль проезжей части по направлению к Боровскому шоссе предусматривается широкий тротуар, отделенный от проезжей части газоном

			p В ходе дорожных работ будет построен правоповоротный съезд с Боровского шоссе на проектируемую дорогу Солнцево-Бутово-Видное и съезд с магистрали на шоссе по направлению в центр. Помимо этого, запроектирован двухполосный съезд с Боровского шоссе на его боковой проезд. Будут сформированы два съезда с проектируемой магистрали Солнцево-Бутово-Видное на Киевское шоссе в сторону области и в обратном направлении, в сторону Боровского шоссе. Также сформируют проезд между автомобильной дорогой Минское шоссе – Внуковское шоссе – Боровское шоссе и улицей Федосьино.
			.video-wrrpaer 
				iframe(src='https://www.youtube.com/embed/L_LUpnjgPso' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			p На Боровском шоссе предусматривается переустройство двух остановок наземного городского пассажирского транспорта «Боровское шоссе д.56» на обеих сторонах дороги. На остановках будут установлены павильоны ожидания и навигационные пилоны. В ходе работ возведут два подземных пешеходных перехода: один предполагается в районе Новоорловской улицы, а второй – под проектируемой магистралью в районе проезда № 6662. Кроме того, для комфорта и безопасности жителей в рамках проекта учтена необходимость установки шумозащитных экранов и ограждений вдоль магистрали», – добавил председатель Москомэкспертизы.

			p Технические средства организации дорожного движения будут включать установку дорожных знаков, нанесение разметки, ограждения и направляющего устройства. Сформируют автоматизированную систему управления дорожным движением в рамках интеллектуальной транспортной системы столицы. Будут установлены стратегические детекторы транспорта, поворотные цифровые видеокамеры высокого разрешения, стационарные комплексы фотовидеофиксации нарушений и табло отображения информации.
			+share()
	// end sContent
mixin sContent04()
	// start sContent
	+b.sContent--base.section#sContent&attributes(attributes)
		.container.container--sm
			p Проектирование каждого объекта осуществляется с использованием новейших достижений технического прогресса с обязательным учетом перспективного развития города.

			p Помимо проектирования объектов инженерно-транспортной инфраструктуры, институт занимается подготовкой территорий для строительства метрополитена. В рамках данного направления осуществляется работа по освобождению площадок, переустройству и выносу инженерных коммуникаций из зоны строительства, масштабному благоустройству территорий, прилегающих к станциям метрополитена.
			+b.figure-wrap
				+e.title.d-none.d-md-block Проектирование
				+b.figure
					mixin item(i,t,p)
						+e.item(href="#")
							//- +e.al--2
							//- +e.al
							+e.icon-wrap
								img(src=`img/svg/fig-${i}.svg`, alt="") 
							+e.inner
								+e.title!= t
								p!= p
								.d-md-none 
									.btn.btn--colorPrimary Подробнее
					+item(`1`,`Объекты дорожно-мостового строительства`,`Комплексное проектирование объектов дорожно-транспортной инфраструктуры`)
					+item(`2`,`Инженерные коммуникации`,`Проектирование инженерных сооружений и&nbsp;коммуникаций всех видов`)
					+item(`3`,`Объекты метрополитена`,`Комплексное проектирование линий метрополитена`)
					+item(`4`,`Гражданские объекты`,`Проектирование жилых и&nbsp;общественных зданий`)
					+item(`5`,`Благоустройство территории`,`Разработка проектных решений по&nbsp;благоустройству и&nbsp;озеленению территорий`)
					+item(`6`,`Транспортно-пересадочные узлы `,`Проектирование технологической (транспортной) части ТПУ`)
	// end sContent


mixin sContent12()
	// start sContent
	+b.sContent--base.section#sContent&attributes(attributes)
		.mainSlider__particles(id=`particles-js-1`)
		.container.container--sm
			p Современные технологии помогают проектировать и реализовывать проекты с максимальной эффективностью. С помощью BIM-технологий можно увидеть и скорректировать все проблемы и нестыковки, предотвратить риски на этапе проектирования, а также сократить материальные затраты на строительство, сроки выполнения и контролировать процесс работ на всех этапах.
			+b.contentBanner.bg-wrap
				+pic("block-bg.jpg",'bg',0).picture-bg
				.row
					.col-md-auto.order-md-last
						+pic("block-img.jpg",'bg',0).img
					.col
						h2 Отдел BIM-технологий
						p Был сформирован в 2020 году в Институте «Мосинжпроект»  и уже через год компания была удостоена звания BIM-лидера года по версии крупнейшей компании-разработчика программного обеспечения Autodesk. Получение звания «BIM-компании года» подтверждает, что мы двигаемся в правильном направлении. 
			.section
				.row.gx-5.gy-3
					.col-md-6
						p: strong.text-primary.ttu «Моделеориентированная» система 
						p В рамках цифровизации в Институте планируется запуск проекта по внедрению информационной системы, предназначенной для организации среды общих данных, технического документооборота и управления инженерными процессами. 
					.col-md-6
						p Информационная система напрямую связана с BIM, так как система «моделеориентированная», то есть вся информация - документация, задания, замечания, привязана к соответствующим элементам модели. Таким образом все участники процесса, включая заказчика, подрядные организации, будут работать в единой среде общих данных, на основе общей консолидированной модели.
			+b.mediaContent
				+slider()
			p Внедрение технологии информационного моделирования на данный момент является приоритетным направлением для нашей организации. В целях унифицированного внедрения технологии информационного моделирования в Институте разработан BIM-стандарт, регламенты и методологические инструкции. Утверждены типовые документы «Информационные требования заказчика к модели» и «План реализации проекта BIM». 
	// end sContent

mixin sContent05()
	// start sContent
	+b.sContent--research.section#sContent&attributes(attributes)
		.container.container--sm
			p Инженерные изыскания для строительства являются видом строительной деятельности, обеспечивающей комплексное изучение природных и&nbsp;техногенных условий участков объектов строительства, составление прогнозов взаимодействия этих объектов с&nbsp;окружающей средой, обоснование их&nbsp;инженерной защиты и&nbsp;безопасных условий жизни населения. 

			p На&nbsp;основе материалов инженерных изысканий для строительства осуществляется разработка предпроектной документации, в&nbsp;том числе градостроительной документации и&nbsp;обоснований инвестиций в&nbsp;строительство, проектов и&nbsp;рабочей документации строительства зданий и&nbsp;сооружений, а&nbsp;также рекомендаций для принятия экономически, технически, социально и&nbsp;экологически обоснованных проектных решений.

			+b.figure-wrap
				+e.title.d-none.d-md-block Проектирование
				+b.figure()
					mixin item(i,t,p)
						+e.item(href="#")
							//- +e.al--2
							//- +e.al
							+e.icon-wrap
								img(src=`img/svg/fig-${i}.svg`, alt="") 
							+e.inner
								+e.title!= t
								p!= p
								.d-md-none 
									.btn.btn--colorPrimary Подробнее
					+item(`13`,`Экологические`,`Исследования для обоснования экологии строительства, предотвращения негативного влияния на&nbsp;окружающую среду`)
					+item(`14`,`Геотехнические`,`Изучение свойств грунтовых массивов, возможных геологических и&nbsp;техногенных процессов`)
					+item(`15`,`Дендрологические`,`Определение видового состава и&nbsp;количества растительности на&nbsp;участке строительства`)
					+item(`16`,`Геодезические`,`Изучение местности и&nbsp;рельефа, определение построек, которые могут создавать препятствия для строительства`)
					+item(`17`,`Геофизические`,`Комплекс мероприятий по&nbsp;исследованию физических свойств пород`)
					+item(`18`,`Геологические`,`Комплекс работ по&nbsp;изучению инженерно-геологических условий на&nbsp;участке`)
	// end sContent

mixin sContent06()
	+b.sContent--agreement.section#sContent&attributes(attributes)
		.container.container--sm
			+e.wrap
				p Планируя строительные и&nbsp;реконструкционные проекты на&nbsp;территории города Москвы, следует тщательно отслеживать возможное пересечение зоны работ с&nbsp;технической или охранной зоной Московского метрополитена, в&nbsp;связи с&nbsp;наличием максимальных нормативных приближений нового строительства к&nbsp;сооружениям метрополитена и&nbsp;необходимостью согласования проектной документации с&nbsp;ГУП &laquo;Московский Метрополитен&raquo;.
			//- +e.inner-row.row
			//- 	.col-lg-6 
			//- 		h2 Охранная зона метрополитена
			//- 		p Включает в&nbsp;себя городскую территорию, находящуюся под или над уже существующими или ещё проектируемыми сооружениями метрополитена, а&nbsp;также в&nbsp;непосредственной близости от&nbsp;объектов московского метро.
			//- 	.col-lg-6
			//- 		h2 Техническая зона метрополитена
			//- 		p Это территория города, которая примыкает к&nbsp;объекту метрополитена и&nbsp;обеспечивает его нормальное функционирование. Для уже возведенных строений она составляет 40&nbsp;метров от&nbsp;внешнего контура объекта метро. Для проектируемых и&nbsp;строящихся&nbsp;&mdash; 20&nbsp;метров.
		//- +e.dark-bg
		//- 	.container
		//- 		+e.img-row.row
		//- 			+e.img-col.col-md-5
		//- 				+pic('sContent-img-1.png', 'bg', 0)
		//- 			.col-md-7
		//- 				+pic('sContent-img-2.png', 'bg', 0)
		//- 			.col-md-6
		//- 				+pic('sContent-img-3.png', 'bg', 0)
		//- 			.col-md-6
		//- 				+pic('sContent-img-4.png', 'bg', 0)
		